<div id="<%= dom_id consulting_service %>">
  <p>
    <strong>Name:</strong>
    <%= consulting_service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consulting_service.description %>
  </p>

  <p>
    <strong>Business consulting profile:</strong>
    <%= consulting_service.business_consulting_profile_id %>
  </p>

</div>
