<div id="<%= dom_id professional_profile %>">
  <p>
    <strong>User:</strong>
    <%= professional_profile.user_id %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= professional_profile.bio %>
  </p>

  <p>
    <strong>Specialties:</strong>
    <%= professional_profile.specialties %>
  </p>

</div>
