<% content_for :title, "New skilled professional profile" %>

<h1>New skilled professional profile</h1>

<%= render "form", skilled_professional_profile: @skilled_professional_profile %>

<br>

<div>
  <%= link_to "Back to skilled professional profiles", skilled_professional_profiles_path %>
</div>
