<div id="<%= dom_id skill_service %>">
  <p>
    <strong>Name:</strong>
    <%= skill_service.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill_service.description %>
  </p>

  <p>
    <strong>Skilled professional profile:</strong>
    <%= skill_service.skilled_professional_profile_id %>
  </p>

</div>
