<% content_for :title, "Editing skill service" %>

<h1>Editing skill service</h1>

<%= render "form", skill_service: @skill_service %>

<br>

<div>
  <%= link_to "Show this skill service", @skill_service %> |
  <%= link_to "Back to skill services", skill_services_path %>
</div>
