<% content_for :title, "New skill service" %>

<h1>New skill service</h1>

<%= render "form", skill_service: @skill_service %>

<br>

<div>
  <%= link_to "Back to skill services", skill_services_path %>
</div>
