<div id="<%= dom_id business_consulting_profile %>">
  <p>
    <strong>User:</strong>
    <%= business_consulting_profile.user_id %>
  </p>

  <p>
    <strong>Expertise:</strong>
    <%= business_consulting_profile.expertise %>
  </p>

  <p>
    <strong>Qualifications:</strong>
    <%= business_consulting_profile.qualifications %>
  </p>

</div>
