<% content_for :title, "New business consulting profile" %>

<h1>New business consulting profile</h1>

<%= render "form", business_consulting_profile: @business_consulting_profile %>

<br>

<div>
  <%= link_to "Back to business consulting profiles", business_consulting_profiles_path %>
</div>
